# -*- perl -*-

$VAR1 = {
	 'p4_root'    => '/home/jonas/para.se/p4',
	 'rb_root'    => '/home/jonas/para.se/rb',
	 'web_import' => 1,
	 'paraframe'  => '/home/jonas/para.se/pf',
	 'dbconnect_old'  => ['dbi:Pg:dbname=psi2'],
	 'dbconnect'  => ['dbi:Pg:dbname=psi4'],
	 'port'       => 7788,
	 'debug'      => 1,
	 'do_bgjob'   => 1,
	 'send_email' => 1,
	 'webhost'    => 'hem.jonas.liljegren.org',
	 'dir_var'    => '/home/jonas/para.se/p4/var',
	 'ie7' => 'http://karl.rit.se/~jonas/ie7',
	 'site' =>
	 {
	  'para' =>
	  {
	   'webhome' => '/~jonas/project/para',
	  },
	 },
	 paynova =>
	 {
	  icp_account_id => "12345",
	  secret_key     => "secret",
	 },
	 'daemons' => [],

	 DB_ALIAS    => '/var/local/paranormal/alias.db',
	 DB_PASSWD   => '/var/local/paranormal/passwd.db',
	 DB_ONLINE   => '/var/local/paranormal/online.db',
        };
